;<?php
;die();
;/*

; This configuration file contains information to
; connect to the MySQL database used to store
; metadata and idp check information.

; Rename this file to properties.ini and check
; information before running the code.

[check_script]
map_url = http://mds.edugain.org
parallel = 30
check_history = 2
verbose = False

[disabled_federation]
reg_auth = "http://www.surfconext.nl/,https://www.wayf.dk,http://feide.no/"

[sp_1]
name = SWITCH
entityID = https://attribute-viewer.aai.switch.ch/interfederation-test/shibboleth
acs_url = https://attribute-viewer.aai.switch.ch/interfederation-test/Shibboleth.sso/SAML2/POST

[sp_2]
name = GARR
entityID = https://sp24-test.garr.it/shibboleth
acs_url = https://sp24-test.garr.it/Shibboleth.sso/SAML2/POST

[db_connection]
db_host = localhost
db_port = 3306
db_name = mccs_db
db_user = mccs_user
db_password = password_db_mccs
db_sock = /var/run/mysqld/mysqld.sock

[edugain_db_json]
json_feds_url = "http://technical.edugain.org/api.php?action=list_feds_full&key=xoaw1-cjws"
json_idps_url = "http://technical.edugain.org/api.php?action=list_eccs_idps"

[email]
host = smtp.server.edugain.net
port = 25
tls = true
user = username
password = password
from = edugain-integration@geant.net
replyTo = edugain-integration@geant.net
baseurl = https://server-hosting-mccs.edugain.net/mccs
test_recipient = test.user@geant.net

;*/
