html,body {
   box-sizing: border-box;
	background: #bcd7e8 repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0;
	margin: 0;
   display: inline-block;
   text-align: center;
   width: 100%;
}

div, td {
   text-align: left;
}

a:visited{
	color: #000;
}

a {
	color: #000;
}

img {
	border: 0;
}

select {
	max-width: 200px;
}

input[type="text"], input[type="password"], input[type="password"] {
   box-sizing: border-box;
	width: 100%;
   min-width: 200px;
	border: 1px solid;
}

.medium {
	width: 200px;
}

.narrow {
	width: 100px;
}

.wide {
	width: 100%;
}
	
.admin_naslov {
	margin: 10px;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
}

.container {
   box-sizing: border-box;
   margin: 0 auto;
	width: 1000px;
	background-color: #fff;
   border-spacing: 0;
   padding: 5px;
}

.body {
	border: #166A8F 1px solid;
	border-top: #166A8F solid 3px;
}

.menu {
	font-size: 14px;
	text-decoration: none;

}
.menu a: hover {
	background-color: #e9e9e9;
}

.list_table .odd_row {
	background-color: #e9e9e9;
}

.list_table td {
	border-bottom: 1px solid #e9e9e9;
   text-align: left;
}

.list_table .filter_td {
	background-color: #e9e9e9;
	border: 1px solid #ffffff;
}

.view_table th {
	text-align: right;
}

.view_table .th_title {
	text-align: center;
	background-color: #e9e9e9;
}

.center {
   text-align: center ! important;
}

.white {
	background-color: #FFFFFF;
}
.red {
	background-color: #FF4040;
}
.green {
	background-color: #72F80E;
}
.yellow {
	background-color: #FFFF80
}
.message {
	color: red;
	padding: 5px;
}

.switch-wrapper {
  display: inline-block;
  position: relative;
  top: 3px;
}

iframe {
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  border: #166A8F 1px solid;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}
