<html>
   <body>
      <p>
{% if sg_deputy_email is empty and sg_delegate_email is empty %}
Dear {{ federationName }} Operators,


We would like to make you aware of a new eduGAIN service that the eduGAIN Enabling Users Task created and that you might find useful.
{% else %}
{% if sg_deputy_name is not empty and sg_deputy_surname is not empty and sg_deputy_email is not empty %}Dear {{sg_deputy_name}} {{sg_deputy_surname}},{% endif %}
{% if sg_delegate_name is not empty and sg_delegate_surname is not empty and sg_delegate_email is not empty %} dear {{sg_delegate_name}} {{sg_delegate_surname}},{% endif %}



You receive this email in your role as deputy/delegate of the eduGAIN Steering Group.
I would like to make you aware of a new eduGAIN service that the eduGAIN Enabling Users Task created and that you might find useful.
{% endif %}

The name of the new eduGAIN service is "eduGAIN Connectivity Check Service" (ECCS) and it has been created by Marco Malavolti and Andrea Biancini from IDEM/GARR (Italian federation). ECCS' main purpose is to increase the overall service quality and user experience of eduGAIN by making Federation and Identity Provider operators aware of configuration problems of their IdPs.

The eduGAIN Connectivity Check Service tests with a simple login request if an eduGAIN IdP properly consumes eduGAIN metadata and whether there are any obvious configuration issues that would prevent users from that IdP to access other eduGAIN Service Providers (SP). A more detailed description on what ECCS does, can be found on:
https://wiki.edugain.org/EduGAIN_Connectivity_Check

The checks run automatically once a day and the results of every federation are published online on the service web page, which is:


   ***********************************
   eduGAIN Connectivity Check Service

   {{ eccs_baseUrl }}
   ***********************************

The customized results for {{federationName}} are available on the following page:

   https://technical.edugain.org/eccs/?registrationAuthority={{reg_auth}}

With this email we would like to provide you an overall view on the results for your federation. Find be below the statistics that the ECCS service has collected for your federation:

   IdPs OK:                               {{idp_ok}}
   IdPs with an invalid form:             {{idp_form_invalid}}
   IdPs with a CURL Error:                {{idp_curl_error}}
   IdPs with a No-eduGAIN-Metadata Error: {{idp_no_edugain_md}}
   IdPs with a HTTP Error:                {{idp_http_error}}
   IdPs Disabled:                         {{idp_disabled}}

As the service is relatively new, we still are fine-tuning the checking mechanism. Therefore, there still might be false positives because the checks are not as trivial as one might think. Therefore, we kindly ask you to review and verify the check results. If you want to exclude your federation or certain IdPs from checks, please let us know.

For those IdPs in the Error or Warning categories, we strongly recommend to identify the actual cause of the issue and then inform the IdP administrator to correct the problem. In case you are unsure about the cause of the issue, the Enabling Users team is glad to assist you and your IdPs to help figure out why some of the IdPs in your federation don't seem to be configured properly to interact with other eduGAIN services.


Best Regards from the ECCS team
Lukas, Marco and Andrea

Lukas Haemmerle <a href="mailto:lukas.haemmerle@switch.ch">lukas.haemmerle@switch.ch</a>
Marco Malavolti <a href="mailto:marco.malavolti@garr.it">marco.malavolti@garr.it></a>
Andrea Biancini <a href="mailto:andrea.biancini@garr.it">andrea.biancini@garr.it</a>
      </p>
   </body>
</html>
